# ----------------------------
# Virtual Environment
# ----------------------------
.venv/
venv/
env/

# ----------------------------
# Python
# ----------------------------
__pycache__/
*.pyc
*.pyo

# ----------------------------
# VS Code
# ----------------------------
.vscode/
*.code-workspace

# ----------------------------
# Trained Models
# ----------------------------
*.pth
*.pt

# ----------------------------
# Ignore Original Datasets
# ----------------------------
datasets/HAM-10000/
datasets/PAD-UFES-20/
datasets/ISIC/
datasets/Derma7pt/

# ----------------------------
# Keep merged metadata
# ----------------------------
!datasets/merged/
!datasets/merged/*.csv

# ----------------------------
# OS
# ----------------------------
.DS_Store
Thumbs.db